{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Pointage QR{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}" class="pqr-brand">
        <span class="pqr-brand-mark"><i class="fas fa-qrcode" aria-hidden="true"></i></span>
        <span>
            <strong>Pointage QR</strong>
            <small>Administration</small>
        </span>
    </a>
</div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'admin/css/native_admin.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/native_admin.js' %}" defer></script>
{% endblock %}

{% block nav-global %}{% endblock %}
